# Core Data-Science
pandas
numpy
scikit-learn
xgboost

# Load model and GCP
pyarrow
fastparquet
google-cloud-storage
gcsfs
python-dotenv

# Dashboards
matplotlib
seaborn

# NLP - Sentiment analysis
textbook
nltk

# Deployment
streamlit
ipykernel
