# Core Data-Science
pandas
numpy
scikit-learn
xgboost

# Load model and GCP
pyarrow
fastparquet
google-cloud-storage
gcsfs
python-dotenv

# Dashboards
matplotlib
seaborn

# NLP - Sentiment analysis
textbook
nltk
langdetect
regex

# Deployment
streamlit
ipykernel

#Deeplearning
tensorflow
keras

# Computer performance for review analysis
pandarallel
ipywidgets

#Topics research
# bertopics
