# Core Data-Science
pandas
numpy
scikit-learn
xgboost

# Load model and GCP
pyarrow
fastparquet
google-cloud-storage
gcsfs
python-dotenv
zipfile


# NLP - Sentiment analysis
textbook
nltk
langdetect
regex

# Deployment
streamlit
ipykernel
fastapi
python-multipart

#Deeplearning
keras

# Computer performance for review analysis
# pandarallel
ipywidgets
tqdm
joblib

# Embeddings
sentence_transformers
gensim

# Topics research
bertopic>=0.17.4
hdbscan>=0.8.32
umap-learn>=0.5.4
wordcloud
vaderSentiment

#User interface
streamlit

# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server

# tests
httpx           # HTTP client
pytest-asyncio  # asynchronous I/O support for pytest
